<div id="login">
    <div class="passcode_form" ng-hide="isPasscodeVerified">
      <h1>Please enter your pass code</h1>
      <form class="form-inline">
        <div class="form-group">
          <input type="tel" ng-keyup="verifyPasscode()" ng-model="passcode" class="form-control passcode_input" id="passcode1" maxlength="4" />
        </div>
        <!--<div class="form-group">-->
          <!--<input type="tel" ng-keyup="verifyPasscode(1)" ng-model="passcode2" class="form-control passcode_input" id="passcode2" maxlength="1" size="1" min="0" max="9" pattern="[0-9]*" />-->
        <!--</div>-->
        <!--<div class="form-group">-->
          <!--<input type="tel" ng-keyup="verifyPasscode(2)" ng-model="passcode3" class="form-control passcode_input" id="passcode3" maxlength="1" size="1" min="0" max="9" pattern="[0-9]*" />-->
        <!--</div>-->
        <!--<div class="form-group">-->
          <!--<input type="tel" ng-keyup="verifyPasscode(3)" ng-model="passcode4" class="form-control passcode_input" id="passcode4" maxlength="1" size="1" min="0" max="9" pattern="[0-9]*" />-->
        <!--</div>-->
      </form>
      <div class="alert alert-danger" role="alert" ng-show="isPasscodeWrong">
        <strong>Oh snap!</strong> Passcode seems wrong and try submitting again.
      </div>
    </div>

    <div class="login_form" ng-show="isPasscodeVerified">
        <h1><i class="fa fa-paper-plane-o"></i> welcome on board </h1>
        <div class="login_box" >
            <div class="input">
                <input id="txt_surveyor" placeholder="Surveyor" ng-model="surveyorName"/> <i class="fa fa-user"></i>
                <ul id="surveyor_list" class="optionDropdown">
                    <li ng-repeat="surveyor in surveyors | filter: surveyorName" id={{'surveyor-'+$index}} ng-click="assignToSurveyor('surveyor-'+$index, surveyor.SurveyorFullName, surveyor.SurveyorId);">{{surveyor.SurveyorFullName}}</li>
                </ul>
            </div>
            <div class="input">
                <input id="txt_regno" placeholder="RegoNo" ng-model="regNo"/> <i class="fa fa-plane"></i>
                <ul id="regono_list" class="optionDropdown">
                    <li ng-repeat="aircraft in aircrafts | filter: regNo" id={{'regno-'+$index}} ng-click="assignToAircraft('regno-'+$index,aircraft.RegoNumber, aircraft.AircraftTypeId, aircraft.AircraftId);">{{aircraft.RegoNumber}}</li>
                </ul>
            </div>
            <div class="input">
              <input id="txt_portno" placeholder="PortNo" ng-model="portNo"/> <i class="fa fa-map-marker"></i>
              <ul id="txt_portno_list" class="optionDropdown">
                <li ng-repeat="portno in portnos | filter: portNo" id={{'portno-'+$index}} ng-click="assignToPort('portno-'+$index,portno.Port, portno.PortId);">{{portno.Port}}</li>
              </ul>
            </div>
            <a class="button" id="btn_login" ng-click="goToWorking();">
                <i class="fa fa-check"></i>
            </a>
        </div>
    </div>
    <div class="report_dock" ng-show="isPasscodeVerified">
        <h2>Hoooray! All reports been submitted successfully! </h2>
        <div class="pending" ng-repeat="pendingreport in pendingreports" id={{pendingreport.ReportID}} ng-click="goSummary(pendingreport.ReportID)">
            <i class="fa fa-file-text-o"></i><span class="regno"><i class="fa fa-plane"></i> {{pendingreport.RegNo}}</span><span class="surveyor"><i class="fa fa-user"></i> {{pendingreport.Surveyor}}</span>
        </div>
    </div>
</div>
